@import "normalize.css";

/* ======== */

h4 + ul,
h3 + ul,
h2 + ul,
h2 + h3,
h3 + h4,
h4 + h5 {
  margin-top: 0;
  padding-top: 0;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

code, pre {
  font-family: "Source Code Pro";
}

@media only screen {
  body {
    background: #D0D4DC;
  }
  .main {
    border: solid 1px #aaa;
    max-width: 60em;
  }
  .service ul, 
  .skills ul, 
  .service li, 
  .skills li {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
  }

  .service, .skills, .honors {
    columns: 2;
  }
}

@media only print {
  body{
    font-size: 11px;
  } 

  .biography  p {
    font-size: 1em
  }
  
}


body {
  font-family: Lora;
  line-height: 1.2em;
}

h1, h2, h3, h4, h5, h6 {
  /* overflow: auto; */
  display: inline-block;
  width: 100%;
}

h1 {
  width: 25%;
  float: left;
  margin-top: 1em;
}

h2 {
  border-top: solid 3px #aaa;
  padding-top: .5em;
  clear: both;
  margin: 1em -1em .6em -1em;
  padding: .6em 1em 0em 1em;
  background-color:#F3F4F6;
  font-weight: 400;
}

h3 {
  font-weight: 700;
  font-variant: small-caps;
  font-size: 1.5em;
  
}

.top-info {
  margin: 0;
  padding: 0;
  width: 40%;
  float: right;
  display: block;
  font-size: .9em;
  text-align: right;
  margin-top: 1.5em;
}

.top-info li {
  display: inline-block; 
  
}

.top-info li:not(:first-child):before {
  content: " •  ";
}

.top-info li:first-child {
  content: " ";
}

.main {
  margin: 0 auto;
  padding: 0 1.5em 1em 1.5em;
  background-color: white;
  margin-bottom: 2em;

}


@media screen {
  a::after{
    content: url('data:image/svg+xml;utf8,<svg fill="%23000000" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" width=".9em" height=".9em"><path d="M 5 3 C 3.9069372 3 3 3.9069372 3 5 L 3 19 C 3 20.093063 3.9069372 21 5 21 L 19 21 C 20.093063 21 21 20.093063 21 19 L 21 12 L 19 12 L 19 19 L 5 19 L 5 5 L 12 5 L 12 3 L 5 3 z M 14 3 L 14 5 L 17.585938 5 L 8.2929688 14.292969 L 9.7070312 15.707031 L 19 6.4140625 L 19 10 L 21 10 L 21 3 L 14 3 z"/></svg>');
    margin: 0 0 0 .2em;
    display: inline-block;
  }
}

@media print {
  a::after{
    content: " (" attr(href) ") ";
  }
}





/* <ul class="presentations">
<li><strong>"Revitalizing the Charles Chesnutt Digital Archive" (with Ashlyn Stewart as part of Charles Chesnutt Panel</strong> July 2021 <em>American Literary Association (Presented online)</em></li> */

.grouplist, .conferences {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.grouplist li, .conferences li {
  margin-bottom: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.grouplist li:not(:last-child):after, .conferences li:not(:last-child):after {
  content : "";
  height  : 1px;
  display: block;
  width   : 100%;  /* or 100px */
  margin: .7em auto 0 auto;
  border-bottom: 1px dotted #aaa;
}

.grouplist li strong, .conferences li strong {
  width: 70%;
  display: block;
}

.grouplist li span, .conferences li span {
  width: 20%;
  display: block;
  float: right;
  text-align: right;
}

.grouplist li em, .conferences li em {
  font-style: normal;
  display: block;
  width: 70%;
}

.biography p {
  font-size: 1.2em;
  line-height: 1.4em;
}

.citations {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.citations li {
  margin-bottom: 1em;
  padding-left: 2em;
  text-indent: -2em;
}





@page {
  margin: .5in;
}

.older_content, .grouplist .older_content {
  display: none;
}

.older_content {
  background-color: red;
}

/* =================
Two pages
================= */

/* @media only print {}

.biography {
  display: none;
}

li:nth-child(n+5) {
  display: none;
} */

li {
  break-inside: avoid-column !important;
}

body {
  line-height: 1.5em;
}

.top-info {
  line-height: 1.2em;
}

.main ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  
}

.main ul.top-info {
  background-color: transparent;
  justify-content: space-between;
}

.main li {
  min-width: 30%;
  display: block;
  height: 100px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: pink;
  vertical-align: middle;
}
